@CHARSET "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

.row{
	width: 1000px;
	height: 600px;
	margin-left: 120px;		
	display: inline-block;
}
#storeName{	
	font-size: 28px;
	color: #f2849e;	
	line-height: 1.75;	
	margin: 10px 0 0 35px;
	font-weight: bold;
}
#store_grade{
	margin-left: 42px;
	font-size: 20px;
	font-weight: bold;
}
.img-circle{
	width: 200px;
	margin: 35px 0 0 240px;
}
.seller_wrap{	
	width: 1000px;
	height: 280px;	
	display: inline-block;	
}
.seller_img{
	width: 45%;		
	height: 280px;		
	float: left;
	display: inline-block;
}
.follow{
	width: 1000px;
	height: 40px;
	margin-right: 36px;
	display: inline-block;
	font-size: 18px;
	color: black;
	font-family: 'Montserrat', sans-serif;	
	float: right;
}
.follow-label{	
	height: 40px;
	padding: 5px;
	margin-right: 2px;
	float: right;		
}
.follow a, a i.fa-plus-square-o{
	color: black;
	font-weight: bold;	
}
.follow i.fa-plus-square-o{
	font-size: 19px;	
	margin: 10px 10px 0 0;	
}
.seller_info{
	width: 55%;
	height: 280px;
	display: inline-block;	
	padding-top: 50px;
	float: right;	
}
.store_address{
	font-size: 15px;
	height: 40px;
	margin: 5px 0 15px 44px;	
	display: inline-block;	
}
.store_address a{
	color: black;
	font-size: 13px;
	font-weight: bold;
}
.store_address i.fa-map-marker{
	color: black;
	font-size: 19px;
}
.map_button{
	color: black;	
}
.social-icons{
	width: 1000px;
	height: 110px;		
	margin: 5px 40px 107px 0;	
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;		
	text-decoration: none;
	display: inline-block;		
}
.info_frame{
	width:1000px;
	height: 55px;	
	display: inline-block;
}
.frame_item{	
	width: 230px;
	height: 55px;
	border: 1px solid #0A1F38;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
	color: #0A1F38;
	font-size: 17px;
	font-weight: bold;
	text-align: center;		
	float: left;	
}
.frame_value{
	width: 230px;
	height: 55px;
	padding: 10px;	
	border: 1px solid #0A1F38;
	color: #0A1F38;
	display: inline-block;
	float: left;		
}
.social-icons i.fa{
	font-size: 22px;
	color: black;
	padding: 10px;		
	margin: 0 5px;		
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
		
}
.social-icons a i.fa-facebook:hover{
	color: #3A5795;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.social-icons a i.fa-twitter:hover{
	color: #55ACEE;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.social-icons a i.fa-instagram:hover{
	color: #D5C7AA;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.social-icons a i.fa-linkedin:hover{
	color: #007BB6;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.social-icons a i.fa-google-plus:hover{
	color: #DA4835;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.main-nav, .navbar-default{
	width: 800px;
	vertical-align: bottom;
	text-align: center;	
	display: inline-block;		
}
.main-nav{	
	width: 1000px;
	height: 60px;	
	display: inline-block;
}
.navbar-default{
	width: 1000px;
	background: transparent;
	border: 0;
}
ul.navbar, ul.nav{
	display: inline-block;
}
ul.navbar li a, ul.nav li a, .navbar-default .navbar-nav>li>a{
	font-size: 19px;
	color: black;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	margin: 0 17px;
}
ul.navbar li a:hover, ul.navbar li a.active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{
	border-bottom: 5px solid black;
	color: black;
}
.nav-item{
	width: 33%;
	padding: 5px;
	color: #0A1F38;
	font-weight: bold;
	display: inline-block;
}
.navbar-nav{
	width: 950px;
	margin-right: 100px;
	display: inline-block;
}
.container{
	width:1000px;
	padding-right: 0 15px 0 15px;    
    margin-right: auto;
    margin-left: auto;
}
.container-fluid{
	padding: 0;	
}
.text-center{
	padding: 0;
}
#bs-example-navbar-collapse-1{
	margin-right: 100px;
}
.inner-content{
	width: 1450px;
	height: auto;
	margin: 0 110px 0 120px; 
	padding: 20px;
}

.content_wrap{
	width: 700px;
	height: 600px;
	margin: 50px 40px 40px 180px; 	
}
.content_title{	
	width: 700px;
	height: 50px;	
	margin: 25px 0 0 0;
	color: #0A1F38;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}
.content_subTitle{
	width: 700px;
	height: 43px;	
	font-size: 28px;	
	font-weight: bold;
	color: grey;
	margin: 0 0 20px 0;
	display: inline-block;
}
.form-control{
	height: 45px;
}
#select-wrapper{
	width: 500px;
}
#demo-name{
	width: 500px;
}
#demo-message{
	width: 680px;
}
#row-uniform{
	margin-top: 10px;
}
#submitBtn{
	margin-left: 300px;
}
.table-title{
	width: 150px;
}
.table-date{
	width: 60px;
}
.inner-product{
	width: 1400px;
	margin: 50px 200px 20px 80px;
	padding: 10px 60px 10px 10px;
}
#productName{
	font-family: 'Montserrat', sans-serif;	
	margin-bottom: 5px;
}