@CHARSET "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

.row{
	width: 1000px;
	height: 600px;		
	display: inline-block;
	margin-left: 0;
}
.inner-sellerMyStore{
	background: url("../images/sellerMyStore_banner2.jpg");	
	width: 100%;		
	background-color: #0A1F38;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;	
	position: relative;
	z-index: 111;
}
.inner-color{
	/* background-color: rgba(52, 27, 43, 0.5); */
	width: 100%;
	display: inline-block;
}
#storeName{	
	font-size: 28px;
	color: #fff;	
	line-height: 1.75;	
	margin: 10px 0 0 35px;
	font-weight: bold;
}
#store_grade{
	margin:  18px 0 0 42px;
	color: #fff;
	font-size: 23px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;	
}
.img-circle{
	width: 320px;	
	display: inline-block;
}
.seller_wrap{
	width: 100%;
	height: 420px;		
	display: inline-block;	
}
#seller_wrap_{
	height: 440px;
}
.seller_img{
	width: 50%;	
	height: 100%;
	padding: 60px 0 0 140px;
	float: left;		
	display: inline-block;
}
.follow{
	width: 1000px;
	height: 40px;
	margin-right: 34px;
	display: inline-block;
	font-size: 18px;
	color: black;
	font-family: 'Montserrat', sans-serif;	
	float: right;
}
.follow-label{	
	height: 40px;
	padding: 5px;
	margin-right: 2px;
	float: right;		
}
.follow a, a i.fa-plus-square-o{
	color: #fff;
	font-weight: bold;	
}
.follow i.fa-plus-square-o{
	font-size: 19px;	
	margin: 10px 10px 0 0;	
}
.content-middle{
	width: 100%;
	padding-right: 5px;
	color: #fff;
	text-align: right;
	font-size: 20px;	
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;		
	display: inline-block;
}
.content-middle a{
	width: 100%;	
	color: #fff;
	display: inline-block;
}
.content-middle i.fa-plus-square, .content-middle h5 {
	display: inline-block;	
	margin: 0;
}
.seller_info{
	width: 50%;	
	height: 100%;	
	float: right;
	padding-top: 100px;
	display: inline-block;		
}
.store_address{
	font-size: 20px;
	height: 40px;
	margin: 0 0 15px 44px;	
	color: #fff;
	font-size: 14px;
	display: inline-block;	
}
.store_address a{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.store_address i.fa-map-marker{
	color: #fff;
	font-size: 23px;
}
.store_address i.fa-map-marker:hover{
	border-bottom-color: transparent;
    color: #f2849e;
}
.map_button{
	color: #fff;	
}
.social-icons{
	width: 100%;
	height: 150px;		
	margin: 5px 0 30px 0;	
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;		
	text-decoration: none;
	display: inline-block;		
}
.social-icons2{
	width: 100%;
	height: 150px;		
	margin: 5px 0 30px 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;		
	text-decoration: none;
	display: inline-block;
}
.info_frame{
	width: 100%;
	height: 75px;		
	display: block;
}
.frame_item{	
	width: 25%;
	height: 75px;
	border: 1px solid #fff;	
	padding: 10px;
	vertical-align: middle;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: center;		
	float: left;	
	display: inline-block;
}
.frame_value{
	width: 25%;
	height: 75px;
	padding: 10px;	
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	float: left;		
}
.social-icons i.fa{
	font-size: 22px;
	color: #fff;
	padding: 10px;		
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;		
}
.navbar-default{
	width: 100%;
	margin: 0;
	vertical-align: bottom;
	text-align: center;	
	display: inline-block;		
}
.main-nav{	
	width: 1000px;
	height: 60px;	
	display: inline-block;
}
.navbar-default{
	width: 100%;
	background: transparent;
	border: 0;
}
ul.navbar, ul.nav{
	display: inline-block;
}
ul.navbar li a, ul.nav li a, .navbar-default .navbar-nav>li>a{
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	margin: 0 17px;
}
ul.navbar li a:hover, ul.navbar li a.active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a.active{
	border-bottom: 5px solid #fff;
	color: #fff;
}
.nav-item{
	width: 33%;
	padding: 5px;	
	font-weight: bold;
	display: inline-block;
}
.navbar-nav{
	width: 950px;
	margin-right: 100px;
	display: inline-block;
}
.container{
	width:1000px;
	padding-right: 0 15px 0 15px;    
    margin-right: auto;
    margin-left: auto;
}
.container-fluid{
	padding: 0;	
}
.text-center{
	padding: 0;
}
#bs-example-navbar-collapse-1{
	margin-right: 100px;
}
.content_wrap{
	width: 100%;
	height: 100%;	
	padding: 80px 40px 40px 150px;	
	display: inline-block;	
}
.content_title{	
	width: 100%;
	height: 50px;	
	margin-top: 100px;
	padding: 0 300px 0 230px;
	color: #0A1F38;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}
.content_subTitle{
	width: 100%;
	height: 43px;	
	font-size: 28px;	
	font-weight: bold;
	color: grey;	
	padding: 0 300px 0 230px;
	display: inline-block;
}
.content-input-wrap{
	width: 100%;	
	margin-bottom: 20px;
	padding: 30px 40px 10px 70px;
	border: 2px solid gray;
	border-radius: 8px;
	display: inline-block;
}
.content-input{
	width: 100%;
	height: 110px;
	display: inline-block;
}
.content-inpur select{
	width: 600px;
}
.form-control{
	height: 45px;
}
#select-wrapper{
	width: 500px;
}
#demo-name{
	width: 500px;
}
#demo-message{
	width: 680px;
}
#row-uniform{
	margin-top: 10px;
}
.table-title{
	width: 150px;
}
.table-date{
	width: 60px;
}
.inner-product{
	width: 1400px;
	margin: 50px 200px 20px 80px;
	padding: 10px 60px 10px 10px;
}
#productName{
	font-family: 'Montserrat', sans-serif;	
	margin-bottom: 5px;
}
.inner-content1{	
	width: 100%;
	padding: 10px 160px 0 220px;	
	display: inline-block;	
}
.inner-content2{
	width: 100%;
	padding: 50px 20px 50px 20px;
		
	display: inline-block;	
}
.inquiry-btn{	
	padding-left: 410px;	
	margin-bottom: 40px;	
}
.content-form{
	width: 100%;
	margin: 0;
	display: inline-block;	
}
.content_list{
	width: 100%;
	display: inline-block;	
}
.input-set{
	width: 800px;
	display: inline-block;
}
#submitBtn{
	width: 100px;
}


/* custmerStore page */

section, img{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 2em -6em;
	width: calc(100% + 6em);
}

	.posts article {
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		margin: 0 0 6em 6em;
		position: relative;
		width: calc(33.33333% - 6em);
	}

		.posts article:before {
			background: rgba(210, 215, 217, 0.75);
			content: '';
			display: block;
			height: calc(100% + 6em);
			left: -3em;
			position: absolute;
			top: 0;
			width: 1px;
		}

		.posts article:after {
			background: rgba(210, 215, 217, 0.75);
			bottom: -3em;
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			right: 0;
			width: calc(100% + 6em);
		}

		.posts article > :last-child {
			margin-bottom: 0;
		}

		.posts article .image {
			display: block;
			margin: 0 0 2em 0;
		}

			.posts article .image img {
				display: block;
				width: 100%;
			}

	@media screen and (min-width: 1681px) {

		.posts article:nth-child(3n + 1):before {
			display: none;
		}

		.posts article:nth-child(3n + 1):after {
			width: 100%;
		}

		.posts article:nth-last-child(1), .posts article:nth-last-child(2), .posts article:nth-last-child(3) {
			margin-bottom: 0;
		}

			.posts article:nth-last-child(1):before, .posts article:nth-last-child(2):before, .posts article:nth-last-child(3):before {
				height: 100%;
			}

			.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after, .posts article:nth-last-child(3):after {
				display: none;
			}

	}

	@media screen and (max-width: 1680px) {

		.posts article {
			width: calc(50% - 6em);
		}

			.posts article:nth-last-child(3) {
				margin-bottom: 6em;
			}

	}

	@media screen and (min-width: 481px) and (max-width: 1680px) {

		.posts article:nth-child(2n + 1):before {
			display: none;
		}

		.posts article:nth-child(2n + 1):after {
			width: 100%;
		}

		.posts article:nth-last-child(1), .posts article:nth-last-child(2) {
			margin-bottom: 0;
		}

			.posts article:nth-last-child(1):before, .posts article:nth-last-child(2):before {
				height: 100%;
			}

			.posts article:nth-last-child(1):after, .posts article:nth-last-child(2):after {
				display: none;
			}

	}

	@media screen and (max-width: 736px) {

		.posts {
			margin: 0 0 2em -4.5em;
			width: calc(100% + 4.5em);
		}

			.posts article {
				margin: 0 0 4.5em 4.5em;
				width: calc(50% - 4.5em);
			}

				.posts article:before {
					height: calc(100% + 4.5em);
					left: -2.25em;
				}

				.posts article:after {
					bottom: -2.25em;
					width: calc(100% + 4.5em);
				}

				.posts article:nth-last-child(3) {
					margin-bottom: 4.5em;
				}

	}

	@media screen and (max-width: 480px) {

		.posts {
			margin: 0 0 2em 0;
			width: 100%;
		}

			.posts article {
				margin: 0 0 4.5em 0;
				width: 100%;
			}

				.posts article:before {
					display: none;
				}

				.posts article:after {
					width: 100%;
				}

				.posts article:last-child {
					margin-bottom: 0;
				}

					.posts article:last-child:after {
						display: none;
					}

	}
a.image{
	width: auto;		
	overflow: hidden;
	border-radius: 10px;
}
.image{
	width: auto;	
	
	border-radius: 0.375em;
    border: 0;
    display: inline-block;
    position: relative;
}
a.image img{
	width: auto;	
	height: 300px;
	transition: transform 0.2s ease;
}
ul#actions-btn{
	padding-left: 110px;
}
.p-wrap{
	width: 100%;
}
p.p-title{
	margin-bottom: 15px;
}
p.p-sub-title1{
	width: 32%;	
	font-weight: bold;
	display: inline-block;
}
p.p-sub-title2{
	width: 58%;
	padding-left: 20px;
	 display: inline-block;
}
