@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 940px;
	margin: 0px auto;
	padding: 20px;
}

#header {
	
	padding: 20px;
	margin-bottom: 20px;
}

#main_menu {
	width: 100%;
	height: 35px;
}

#container {
	float: left;
	width: 100%;
}

#content {
	width: 450px;
	padding: 20px;
	margin-bottom: 20px;
	float: left;
}

#sidebar {
	width: 160px;
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#extra {
	width: 160px;
	padding: 20px;
	margin-bottom: 20px;
	float: right;
}

#footer {
	clear: both;
	padding: 20px;
}

/* 반응형 (데스크톱) */
@media (max-width: 480px ) {
	#wrap{
		width: auto;
	}
	
	#content{
		float: none;
		width: auto;
	}
	
	#sidebar{
		float: none;
		width: auto;
	}
	
	#estra{
		float: none;
		width: auto;
	}
	
}
/* 반응형 (모바일) */
@media (min-width: 481px) {
	#wrap{
		width: 940px;
	}
	
	#sidebar{
		float: left;
		width: 130px;
	}
	
	#content{
		float: left;
		width: auto;
	}
	
	#estra{
		float: right;
		width: 130px;
	}
	
	.footer{
		clear: both;
	}
}


/* header */
.header_bar_c{
	width: 860px;
	padding: 20px;
	margin-bottom: 20px;
}


.logo_c {
	position: fixed;
	margin-left: auto;
}

.logo {
	position: relative;
	width: 100px;
	height: auto;
}

.member_Menu_c {
	width: 155px;
	margin-left: auto;
	position: relative;	
}
/* container */
.goods {
	width: 100px;
	height: auto;
}