@CHARSET "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

body{
	margin: 0px;
	background-color: inherit;
}
.inner-product{
	width: 100%;
	margin: 0 10px 40px 10px;
	display: inline-block;	
}	
.h4-productPage{
	margin: 0 0 40px 10px;
	font-size: 30px;	
}
#form-productPage{
	width: 1500px;
	display: inline-block;
}
.product_img{		
	width: 38%;
	height: 430px;
	margin: 95px 60px 0 60px;
	float: left;	
	display: inline-block;	
}
.product_img img{
	width: 100%; 
	height: 100%;	
	display: block;
	border-radius: 10px;
}
.product_info_wrap{
	width: 50%;
	height: 700px;
	float: right;
	margin: 60px 0 0 0;
	display: inline-block;
}	
.product_info{
	float:right;	
	height: 490px;			
	display: inline-block;	
}	
.left{	
	float: left;
	width: 40%;
}
.right{
	float: right;
	width: 50%;
	margin-right: 60px;
}
#store-icon{
	font-size: 30px;
}
.product_item{	
	width: 100%;	
	height: 80px;
	padding: 15px 7px 7px 7px;	
	vertical-align: middle;
	display: inline-block;	
}
.product_value{
	width: 100%;		
	height: 80px;
	padding: 7px;
	vertical-align: middle;
	display: inline-block;
}
#text-num{
	width: 60px;
	margin: 0;
	text-align: center;
	display: inline-block;
}
.product_btn_wrap{
	width: 100%;
	height: 200x;
	margin-top: 25px;
	display: inline-block;	
}
.product_btn{
	width: 30%;
	display: inline-block;	
}
.btn{
	width: 30%;		
}
.hr_line{
	width: 90%;
	border-bottom: 1px solid #5d5d5d;
	margin-bottom: 15px; 
}
#product-info a{
	margin-left: 60px;
}
.grade-content{
	padding: 60px;
}
#product_middle{
	width: 1200px;
	padding: 7px;		
}
#product_middle a{
	margin-left: 60px;
}
#product_bottom{
	width: 1200px;
	padding: 7px;
}
 #bsk_btn{
	background-color: #f2849e;	
	color: #fff;
}
input[type="button"]#bsk_btn:hover,
button#bsk_btn:hover,
.button#bsk_btn:hover{
	background-color: gray;
}
#order_btn{
	
}
input[type="submit"]#order_btn:hover,
submit#order_btn:hover,
.button#order_btn:hover{
	background-color: gray;
}
#accordion{
	width: 1200px;	
}
.inquiry-content{
	margin-left: 60px;
}
.list-item{
	width: 1200px;	
	height: 60px;	
	padding: 5px;
	border-style: 1px, solid;
	background-color: #ddd;
	vertical-align: middle;
	display: inline-block;	
}
#grade-head{
	width: 1200px;
	margin: 0px;
	display: inline-block;	
}
.assessment_grade{
	width: 160px;
	height: 100%;
	text-align: center;
	margin: 0 10px 0 10px;
	display: inline-block;	
}
.assessment_title{
	width: 600px;
	text-align: center;
	margin: 0 10px 0 10px;
	display: inline-block;	
}
.assessment_date{
	width: 200px;	 
	text-align: center;
	margin: 0 10px 0 10px;
	display: inline-block;	
}
.assessment_icon{
	width: 70px;
	text-align: center;
	margin: 0 10px 0 10px;
	display: inline-block;	
}
#grade-content{
	width: 1200px;	
	display: inline-block;	
}
.panel-default{
	width: 1200px;
}
.product_inquiry_list_header{
	width: 1200px;	
	border: 1px solid gray;
}
.product_inquiry_add{
	width: 1200px;
	display: inline-block;
}
.product_inquiry_list{
	margin-bottom: 30px;
}


/* productReg page */
.main-title{	
	margin: 80px 0 30px 170px;
	height: 60px;
	float: left;
	display: inline-block;	 
}
.main-title h4{
	font-size: 30px;
	margin: 0;	
}
hr.title-hr{
	width: 900px;
	border: 10px;
	color: gray;	
}
.main-content-wrap{
	width: 100%;;
	height: auto;	
	padding: 0 150px 0 150px;
	display: inline-block;		
}
.main-content{	
	padding: 40px;
	border: 4px solid;
	border-radius: 10px;
	display: inline-block;	
}
.reg-wrap{
	width: 100%;
	display: inline-block;	
}
.reg-wrap_textarea{
	width: 100%;	
	padding : 0 98px 15px 60px;
	display: inline-block;	
}
.reg-wrap_textarea textarea{
	height: 120px;
}
.item-wrap{
	width: 32%;
	height: 650px;	
	float: left;	
	display: inline-block;	
}
.input-wrap{
	width: 57%;
	float: left;
	display: inline-block;	
}
.item-wrap i{
	font-size: 35px;
	color: #0A1F38;
}
.reg-input{
	width: 60%;
	height: 90px;
	padding: 10px;
	display: inline-block;	
}
.reg-input2{
	width: 49%;
	height: 90px;
	padding: 10px;
	display: inline-block;	
}
.reg-wrap input[type="button"]{
	width: 10%;
	display: inline-block;	
}
.reg-input-sub{
	width: 60%;
	height: 70px;
	padding-left: 50px;
	font-size: 15px;
	display: inline-block;	
}
.reg-item-sub i{
	font-size: 15px;
	color: #0A1F38;
}
.reg-item{
	width: 30%;
	height: 90px;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;	
}
.reg-item i{
	font-size: 27px;
	color: #0A1F38;
	font-weight: bold;
}
.reg-item-sub{
	width: 30%;
	height: 70px;
	padding-left: 50px;
	display: inline-block;	
}
.inputProduct_button{
	width: 100%;
	padding: 60px 0 60px 550px;	
	display: inline-block;	
}
#tag-wrap{
	width: 710px;
}
#tag-input{
	width: 70%;
	display: inline-block;
}
#tag-btn{
	width: 15%;
	display: inline-block;
}
.category-input{
	width: 510px;
	text-align: center;
}


/* managementProduct page */
table td, table th {    
	padding: 0;
    vertical-align: middle;
    text-align: center;    
    border-top: 1px solid grey; 
}	
table th{
	height: 60px;
	padding: 0;
}
.main-title2{
	width: 100%;
	padding: 60px 0 60px 60px;
	
}
.main-title2 h4{
	font-size: 30px;
	margin: 0;
}
.product_title{
	margin-bottom: 50px;
}
.button-wrap{
	width: 100%;
	margin-bottom: 15px;	
	display: inline-block;		
}
.deleteProduct_btn{			
	float: left; 
}
.regProduct_button{
	float: right;		
}
.title{
	padding: 15px 0 15px 0;
	text-align: center;
}
.content-wrap{
	width: 100%;	
	padding: 0 60px 0 60px;
	margin-bottom: 100px;
}	
.content{
	height: 140px;
	text-align: center;	
}
.table-wrapper{
	width: 100%;	
	display: inline-block;	
}
.content img{
	width: 120px;
	height: 120px;
	border-radius: 5px;
}
input[type="checkbox"]{
	margin: 0;
	padding: 0;
	color: black;
	
}
.content h3{
	margin: 0;
}
.content p{
	font-size: 16px;
	margin: 0;
}
