<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IMemberInfoDao">

	<insert id="insertMemberInfo" parameterType="member_info" useGeneratedKeys="true" keyProperty="m_index">
		insert into member_info values(0, #{m_name}, #{m_tel}, #{m_tel_check}, #{m_email}, #{m_email_check}, #{m_password}, #{m_img}, #{m_admin}, #{m_date});
	</insert>
	
	<update id="updateMemberInfo" parameterType="member_info">
		update member_info set m_name=#{m_name}, m_tel=#{m_tel}, m_tel_check=#{m_tel_check}, m_email=#{m_email}, m_email_check=#{m_email_check},
		m_password=#{m_password}, m_img=#{m_img}, m_admin=#{m_admin}, m_date=#{m_date} where m_index=#{m_index};
	</update>
	
	<delete id="deleteMemberInfo" parameterType="int">
		delete from member_info where m_index=#{m_index}; 
	</delete>
	
	<select id="selectMemberInfo" parameterType="int" resultType="member_info">
		select * from member_info where m_index=#{m_index};
	</select>
</mapper>