<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IPetInfoDao">
	<insert id="insertPetInfo" parameterType="pet_info" useGeneratedKeys="true" keyProperty="pet_index">
		insert into pet_info values(0, #{m_index}, #{pet_name}, #{pet_gender}, #{pet_birthday}, #{pet_breeds}, #{pet_img}, now());
	</insert>
	
	<update id="updatePetInfo" parameterType="pet_info">
		update pet_info set pet_name=#{pet_name}, pet_gender=#{pet_gender}, 
		pet_birthday=#{pet_birthday}, pet_breeds=#{pet_breeds}, pet_img=#{pet_img}, pet_date=now() 
		where pet_index=#{pet_index};
	</update>
	
	<delete id="deletePetInfo" parameterType="int">
		delete from pet_info where pet_index=#{pet_index};
	</delete>
	
	<select id="selectPetInfo" parameterType="int" resultType="pet_info">
		select * from pet_info where pet_index=#{pet_index};
	</select>
	
	<select id="selectAllPetInfo" parameterType="int" resultType="pet_info">
		select * from pet_info where m_index=#{m_index};
	</select>
	
	<select id="selectMainPetInfo" parameterType="int" resultType="pet_info">
		select * from pet_info where m_index=#{m_index} order by pet_index limit 0,1;
	</select>
	
</mapper>