<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IProductImgDao">

	<insert id="insertProductImg" parameterType="product_img" useGeneratedKeys="true" keyProperty="p_index">
		insert into product_img values(0, #{p_index}, #{pi_diff}, #{pi_src}, now());
	</insert>
	
	<update id="updateProductImg" parameterType="product_img">
		update product_img set pi_diff = #{pi_diff}, pi_src = #{pi_src}, pi_date = now() where pi_index = #{pi_index}
	</update>
	
	<delete id="deleteProductImg" parameterType="int">
		delete from product_img where pi_index = #{pi_index}
	</delete>
	
	<select id="selectProductImg" parameterType="int" resultType="product_img">
		select * from product_img where p_index = #{p_index}
	</select>
	
	<select id="selectAllProductImg" parameterType="int" resultType="product_img">
		select * from product_img where p_index = #{p_index}
	</select>
	
</mapper>