<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IProductNoticeDao">

	<insert id="insertProductNotice" parameterType="product_notice">
		insert into product_notice values(0, #{m_index}, #{s_index}, #{p_index}, #{pn_view}, now());
	</insert>

	<delete id="deleteProductNotice" parameterType="int">
		delete from product_notice where pn_index = #{pn_index}
	</delete>
	
	<select id="selectProductNotice" parameterType="int" resultType="product_notice">
		select * from product_notice where pn_index = #{pn_index}
	</select>
	
</mapper>