<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ISellerInfoDao">

	<insert id="insertSellerInfo" parameterType="seller_info" useGeneratedKeys="true" keyProperty="s_index">
		insert into seller_info values(0, #{m_index}, #{s_nick}, #{s_bank}, #{s_holder}, #{s_account}, #{s_imgSrc}, #{s_address}, 0, 0, 0, now());
	</insert>
	
	<update id="updateSellerInfo" parameterType="seller_info">
		update seller_info set s_nick=#{s_nick}, s_bank=#{s_bank}, s_holder=#{s_holder}, s_account=#{s_account}, 
		s_address=#{s_address}, s_imgSrc=#{s_imgSrc}, s_visit=#{s_visit}, s_sale=#{s_sale}, s_grade=#{s_grade} 
		where m_index=#{m_index};
	</update>
	
	<delete id="deleteSellerInfo" parameterType="int">
		delete from seller_info where m_index=#{m_index};
	</delete>
	
	<select id="selectSellerInfo" parameterType="int" resultType="seller_info">
		select * from seller_info where m_index=#{m_index};
	</select>

	<select id="selectAllSellerInfo" resultType="seller_info">
		select * from seller_info
	</select>

</mapper>