<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ISellerFollowingDao">
	
	<insert id="insertSellerFollowing" parameterType="seller_following" useGeneratedKeys="true" keyProperty="sf_index">
		insert into seller_following values(0, #{s_index}, #{m_index}, #{sf_date});
	</insert>
	
	<update id="updateSellerFollowing" parameterType="seller_following">
		update seller_following set s_index=#{s_index}, m_index=#{m_index}, sf_date=#{sf_date} where sf_index=#{sf_index};
	</update>
	
	<delete id="deleteSellerFollowing" parameterType="int">
		delete from seller_following where sf_index=#{sf_index};
	</delete>
	
	<select id="selectSellerFollowing" parameterType="int" resultType="seller_following">
		select * from seller_following where sf_index=#{sf_index};
	</select>
	
	<select id="selectAllSellerFollowing" resultType="seller_following">
		select * from seller_following;
	</select>
	
	<select id="selectCountSellerFollowing" resultType="int">
		select count(*) from seller_following;
	</select>
	
</mapper>