<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ISellerSnsDao">

	<insert id="insertSellerSns" parameterType="seller_sns" useGeneratedKeys="true" keyProperty="pet_index">
		insert into seller_sns values(0, #{ss_index}, #{s_index}, #{ss_sort}, #{ss_address}, #{ss_date});
	</insert>
	
	<update id="updateSellerSns" parameterType="seller_sns">
		update seller_sns set ss_sort=#{ss_sort}, ss_address=#{ss_address}, ss_date=#{ss_date}
			where ss_index=#{ss_index};
	</update>
	
	<delete id="deleteSellerSns" parameterType="int">
		delete from seller_sns where where ss_index=#{ss_index};
	</delete>
	 
	<select id="selectSellerSns" parameterType="int" resultType="seller_Sns">
		select * from seller_sns  where ss_index=#{ss_index};
	</select>
	
	<select id="selectAllSellerSns" parameterType="int" resultType="seller_Sns">
		select * from seller_sns where ss_index = #{ss_index}
	</select>
	

</mapper>