<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IMemberDao">

	<insert id="insertShoppingBasket" parameterType="shopping_basket">
		insert into shopping_basket values(0, #{p_index}, #{m_index}, #{sb_num}, #{sb_date});
	</insert>
	
	<update id="updateShoppingBasket" parameterType="shopping_basket">
		update shopping_basket set sb_num=#{sb_num} where sb_index=#{sb_index}
	</update>
	
	<delete id="deleteShoppingBasket" parameterType="int">
		delete from shopping_basket where sb_index=#{sb_index}
	</delete>

</mapper>