<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ITakeBackInquiryDao">
	<select id="selectTakeBack" parameterType="int" resultType="take_back_inquiry">
	select * from take_back where tb_index=#{tb_index}
	</select>
</mapper>